<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">My Website</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                {{#if credentials.id}}
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="authCtrl.logout()">Đăng xuất</a>
                </li>
                {{else}}
                <li>
                    <a href="/dang-ky">Đăng ký</a>
                </li>
                <li>
                    <a href="/dang-nhap">Đăng nhập</a>
                </li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if credentials.id}}
                <li>
                    <a href="/trang-ca-nhan">Xin chào: {[authCtrl.accountInfo.name || authCtrl.accountInfo.email]}</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="userCtrl.logout()">Đăng xuất</a>
                </li>
                {{else}}
                <li>
                    <a href="/dang-ky">Đăng ký</a>
                </li>
                <li>
                    <a href="/dang-nhap">Đăng nhập</a>
                </li>
                {{/if}}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>